{% extends '/templates/base_speed.html' %}

{% block title %} Current Bids{% endblock %}

{% block content %}

     <!-- End Navbar -->

     <section class="breadcrump2 d-flex align-items-end justify-content-center mb-3 section-animation inner-pages">
        <div class="container position-relative z-1">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-white load-animate-left mb-5">User Name</h1>
                    <ul class="ul d-flex flex-wrap px-3 py-3 breadcrump-list rounded-3 align-items-center justify-content-center">
                        <li>
                            <a href="../index" class="text-white mx-1">Home </a>
                        </li>
                        <li>
                            <a href="../userdashboard/summary" class="text-white mx-1"><span class="mx-2">/</span> Dashboard </a>
                        </li>
                        <li>
                            <a class="text-white mx-1"><span class="mx-2">/</span> Current Bids </a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </section>

    <!-- Start Summary Page -->

    <section class="profile mobile-bottom py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="settings-mobile">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <div class="sidebar">
                        <div class="card border-0 p-3 py-5 mb-4">
                            <ul class="">
                                <li class="fs-2 mb-4">
                                    <a href="../userdashboard/summary" class="py-3 active">Summary</a>
                                </li>
                                <li class="fs-2">
                                    <a href="../userdashboard/profile" class="py-3">Profile</a>
                                </li>
                                <li class="fs-2">
                                    <a href="../userdashboard/tracking" class="py-3">Tracking</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card border-0 p-3 py-5 mb-4">
                            <h4 class="text-dark pb-5 border-bottom">Bidding Power</h4>
                            <div class="range mb-4">  
                                <input type="range" id="range1" value="50" min="0" max="100"/>
                            </div>
                            <ul class="d-flex justify-content-between border-bottom">
                                <li class="fs-2 mb-4">
                                    <h5 class="text-dark">Available Power</h5>
                                    <p class="mb-0 fs-5 text-center ">$50</p>
                                    <input type="hidden" name="available_power" value="50" id="available_power">
                                </li>
                                <li class="fs-2">
                                    <h5 class="text-dark">Total Power</h5>
                                    <p class="mb-0 fs-5 text-center">$100</p>
                                    <input type="hidden" name="total_power" value="100" id="total_power">
                                </li>
                            </ul>
                            <ul class="d-flex justify-content-between border-bottom">
                                <li class="fs-2 mb-4">
                                    <h5 class="text-dark">Active Bids</h5>
                                    <p class="mb-0 fs-5 text-center active_bids">4</p>
                                    <input type="hidden" name="active_bids" value="4" id="active_bids">
                                </li>
                                <li class="fs-2">
                                    <h5 class="text-dark">Bids Limit</h5>
                                    <p class="mb-0 fs-5 text-center bids_limit">10</p>
                                </li>
                            </ul>
                        </div>
                        <div class="card border-0 p-3 py-5 mb-4">
                            <h4 class="text-dark fw-bold pb-5 border-bottom">My auctions</h4>
                            <ul class="">
                                <li class="fs-4 mb-4">
                                    <a href="../userdashboard/current-bids" class="py-3">Current Bids</a>
                                </li>
                                <li class="fs-4 mb-4">
                                    <a href="../userdashboard/won-bids" class="py-3">Won Bids</a>
                                </li>
                                <li class="fs-4 mb-4">
                                    <a href="../userdashboard/lost-bids" class="py-3">Lost Bids</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-9">
                    <div class="bide-info bg-white p-4">
                        <h2 class="fw-bold mb-5">Current Bids <span class="text-muted">(0)</span></h2>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Auction Name</th>
                                        <th>Your Bide</th>
                                        <th>Current Bid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>1955 Ford Fairlane</td>
                                        <td>Copart</td>
                                        <td>$500</td>
                                        <td class="text-danger">$3000</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>1955 Ford Fairlane</td>
                                        <td>Copart</td>
                                        <td>$500</td>
                                        <td class="text-info">$3000</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>1955 Ford Fairlane</td>
                                        <td>Copart</td>
                                        <td>$500</td>
                                        <td class="text-danger">$3000</td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Summary Page -->


    <!-- Start footer Section -->
    {% endblock %}

    {% block script %}

  
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script>
        var range1 = document.querySelector('#range1');
        var availablePower = document.querySelector('#available_power').value;
        var totalPower = document.querySelector('#total_power').value;
        var bidsLimit = document.querySelector('.bids_limit');
        var activeBids = document.querySelector('.active_bids');
        bidsLimit.innerHTML = totalPower / 2;
        activeBids.innerHTML = availablePower / 2;

        $(document).ready(function() {
            $('table').DataTable({
                "aLengthMenu": [
                    [5, 10, 25, -1],
                    [5, 10, 25, "All"]
                ],
                "iDisplayLength": 10,

            });
        });
    </script>
    {% endblock %}
