<!-- <footer class="web-footer">
	<div class="container">
		{% include "templates/includes/footer/footer_logo_extension.html" %}

		{% if footer_items -%}
			{% include "templates/includes/footer/footer_grouped_links.html" %}
		{% endif %}

		{% include "templates/includes/footer/footer_links.html" %}
		{% include "templates/includes/footer/footer_info.html" %}
	</div> -->
</footer>
<!-- Start footer Section -->
<section class="footer">
	<div class="bg-color-light pt-5 pb-3">
		<div class="container-fluid">
			<div class="row mx-0 mb-0 row-cols-1 row-cols-md-2 row-cols-lg-4">
				<div class="col mb-3">
					<div class="card border-0 bg-transparent">
						<h4 class="fw-bold mb-4">Company</h4>
						<p class="mb-2 text-muted">
							Speed 20B/40
						</p>
						<p class="mb-2">
							61-623 Poznań
						</p>
						<p>Tax no.: 499-06-50-123</p>
					</div>
				</div>
				<div class="col mb-3">
					<div class="card border-0 bg-transparent">
						<ul>
							<li class="mb-3">
								<a href="../pages/about-us" class="text-dark">About</a>
							</li>
							<li class="mb-3">
								<a href="../pages/about-us" class="text-dark">How it works</a>
							</li>
							<li class="mb-3">
								<a href="../pages/about-us" class="text-dark">Cooperation</a>
							</li>
							<li class="mb-3">
								<a href="../pages/about-us" class="text-dark">Bidfax</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col mb-3">
					<div class="card border-0 bg-transparent">
						<h4 class="fw-bold mb-4">Questions</h4>
						<ul>
							<li class="mb-3">
								<a href="../pages/help" class="text-dark">Help</a>
							</li>
							<li class="mb-3">
								<a href="../pages/about-us" class="text-dark">Terms</a>
							</li>
							<li class="mb-3">
								<a href="../pages/about-us" class="text-dark">Privacy and Cookies</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col mb-3">
					<div class="card border-0 bg-transparent">
						<img src="/assets/website_speed/speed_assets/uploads/settings/logo1.png" alt="" class="m-auto footer-logo">
						<div class="icon d-flex mt-5 justify-content-center">
							<a href="" class="mx-3 text-dark"><i class="fa-brands fa-facebook-f fs-4"></i></a>
							<a href="" class="mx-3 text-dark"><i class="fa-brands fa-twitter fs-4"></i></a>
							<a href="" class="mx-3 text-dark"><i class="fa-brands fa-linkedin-in fs-4"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sub-footer py-3 text-center">
		<p class="text-muted mb-0">Ⓒ 2021 Speed. All Rights Reserved</p>
	</div>
</section>
<!-- End footer Section -->