{% extends 'templates/base_speed.html' %}

{% block content %}

  <!-- End Navbar -->

    <!-- Start Hero Section -->

    <!-- Start Hero Section -->
    <section class="hero d-flex align-items-center justify-content-center section-animation inner-pages">
        <div class="container-fluid pt-5 position-relative z-1">
            <div class="row px-5">
                <div class="col-md-12">
                    <!-- <a href="../pages/auctions" class="btn btn-primary fs-4 mb-3 load-animate-left transition-delay-1">
                        {{ i18n['start_bidding'][current_lang] }}
                    </a> -->
                    {% if current_lang == 'ar' %}
                    <div class="title-header mb-4" style="direction: rtl; text-align: right;">
                        <h2 class="text-white load-animate-left transition-delay-2">
                            {{ i18n['hero_title'][current_lang] }}
                        </h2>
                    {% else %}
                    <div class="title-header mb-4" style="direction: ltr; text-align: left;">
                        <h1 class="text-white load-animate-left transition-delay-2">
                            {{ i18n['hero_title'][current_lang] }}
                        </h1>
                    {% endif %}
                        <p class="text-light load-animate-left transition-delay-3 hero_subtitle">
                            {{ i18n['hero_subtitle'][current_lang] }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->


    <!-- End Hero Section -->

    <!-- Start Buy Car Section -->

    <!-- Start Buy Car Section -->
    {% if current_lang == 'ar' %}
	<section class="buy-car py-5 bg-color-light section-animation"" style="direction: rtl; text-align: right;">
	{% else %}
	<section class="buy-car py-5 bg-color-light section-animation"" style="direction: ltr; text-align: left;">
	{% endif %}
<!-- <section class="buy-car py-5 bg-color-light section-animation"> -->
    <div class="container-fluid">
        <div class="title-header text-center">
            <h2 class="mb-0 load-animate-left">
                {{ i18n['how_to_buy_title'][current_lang] }}
            </h2>
            <p class="fs-1 load-animate-left transition-delay-1">
                {{ i18n['how_to_buy_subtitle'][current_lang] }}
            </p>
        </div>
        <div class="d-flex steps text-center mb-5">
            <div class="card border-0 bg-transparent">
                <img src="/assets/website_speed/speed_assets/uploads/images/_center.svg" alt="" class="line-center">
                <div class="card-header bg-transparent border-0 load-animate">
                    <h4 class="fw-bold mb-4">{{ i18n['day'][current_lang]}} 1</h4>
                    <img src="/assets/website_speed/speed_assets/uploads/images/step_registration.svg" alt="" class="m-auto img-step">
                    <p class="fs-4 fw-bolder mt-4">
                        {{ i18n['step_registration'][current_lang] }}
                    </p>
                </div>
            </div>
            <div class="card border-0 bg-transparent">
                <img src="/assets/website_speed/speed_assets/uploads/images/_center.svg" alt="" class="line-center">
                <div class="card-header bg-transparent border-0 load-animate">
                    <h4 class="fw-bold mb-4">{{ i18n['day'][current_lang]}} 1-2</h4>
                    <img src="/assets/website_speed/speed_assets/uploads/images/step_deposit.svg" alt="" class="m-auto img-step">
                    <p class="fs-4 fw-bolder mt-4">
                        {{ i18n['step_deposit'][current_lang] }}
                    </p>
                </div>
            </div>
            <div class="card border-0 bg-transparent">
                <img src="/assets/website_speed/speed_assets/uploads/images/_center.svg" alt="" class="line-center">
                <div class="card-header bg-transparent border-0 load-animate">
                    <h4 class="fw-bold mb-4">{{ i18n['day'][current_lang]}} 2-3</h4>
                    <img src="/assets/website_speed/speed_assets/uploads/images/step_search.svg" alt="" class="m-auto img-step">
                    <p class="fs-4 fw-bolder mt-4">
                        {{ i18n['step_vehicle_search'][current_lang] }}
                    </p>
                </div>
            </div>
            <div class="card border-0 bg-transparent">
                <img src="/assets/website_speed/speed_assets/uploads/images/_center.svg" alt="" class="line-center">
                <div class="card-header bg-transparent border-0 load-animate">
                    <h4 class="fw-bold mb-4">{{ i18n['day'][current_lang]}} 3-4</h4>
                    <img src="/assets/website_speed/speed_assets/uploads/images/step_bidding.svg" alt="" class="m-auto img-step">
                    <p class="fs-4 fw-bolder mt-4">
                        {{ i18n['step_bidding'][current_lang] }}
                    </p>
                </div>
            </div>
            <div class="card border-0 bg-transparent">
                <img src="/assets/website_speed/speed_assets/uploads/images/_center.svg" alt="" class="line-center">
                <div class="card-header bg-transparent border-0 load-animate">
                    <h4 class="fw-bold mb-4">{{ i18n['day'][current_lang]}} 4-6</h4>
                    <img src="/assets/website_speed/speed_assets/uploads/images/step_payment.svg" alt="" class="m-auto img-step">
                    <p class="fs-4 fw-bolder mt-4">
                        {{ i18n['step_payment'][current_lang] }}
                    </p>
                </div>
            </div>
            <div class="card border-0 bg-transparent">
                <img src="/assets/website_speed/speed_assets/uploads/images/_center.svg" alt="" class="line-center">
                <div class="card-header bg-transparent border-0 load-animate">
                    <h4 class="fw-bold mb-4">{{ i18n['day'][current_lang]}} 6-10</h4>
                    <img src="/assets/website_speed/speed_assets/uploads/images/step_transportation.svg" alt="" class="m-auto img-step">
                    <p class="fs-4 fw-bolder mt-4">
                        {{ i18n['step_transportation'][current_lang] }}
                    </p>
                </div>
            </div>
            <div class="card border-0 bg-transparent">
                <img src="/assets/website_speed/speed_assets/uploads/images/_center.svg" alt="" class="line-center">
                <div class="card-header bg-transparent border-0 load-animate">
                    <h4 class="fw-bold mb-4">{{ i18n['day'][current_lang]}} 10-50</h4>
                    <img src="/assets/website_speed/speed_assets/uploads/images/step_shipping.svg" alt="" class="m-auto img-step">
                    <p class="fs-4 fw-bolder mt-4">
                        {{ i18n['step_shipping'][current_lang] }}
                    </p>
                </div>
            </div>
            <div class="card border-0 bg-transparent">
                <img src="/assets/website_speed/speed_assets/uploads/images/_center.svg" alt="" class="line-center">
                <div class="card-header bg-transparent border-0 load-animate">
                    <h4 class="fw-bold mb-4">{{ i18n['day'][current_lang]}} 50-55</h4>
                    <img src="/assets/website_speed/speed_assets/uploads/images/step_custom.svg" alt="" class="m-auto img-step">
                    <!-- <img src="/assets/website_speed/speed_assets/uploads/images/step_customs_delivery.svg" alt="" class="m-auto img-step"> -->
                    <p class="fs-4 fw-bolder mt-4">
                        {{ i18n['step_customs_delivery'][current_lang] }}
                    </p>
                </div>
            </div>
        </div>

        <div class="title-header text-center mb-3 load-animate transition-delay-5">
            <p class="fs-4 text-center purchase_plan_note">
                {{ i18n['purchase_plan_note'][current_lang] }}
            </p>
        </div>

        <!-- <div class="row justify-content-center auto-check align-items-center load-animate transition-delay-5">
            <div class="col px-5 text-center">
                <div class="card border-0 text-center m-auto position-relative justify-content-center" style="--image: url('../../uploads/images/img1.jpeg')">
                    <div class="title-header text-center z-1 position-relative mb-0">
                        <h2 class="text-white">
                            {{ i18n['autocheck'][current_lang] }}
                        </h2>
                        <p class="text-light">
                            {{ i18n['purchase_plan_note'][current_lang] }}
                        </p>
                        <p class="text-light">
                            {{ i18n['purchase_plan_note_short'][current_lang] }}
                        </p>
                        <h2 class="text-white fs-1 mb-0">
                            {{ i18n['free'][current_lang] }}
                        </h2>
                    </div>
                    <form action="" method="post" class="mt-3 position-relative z-1">
                        <div class="row justify-content-center">
                            <div class="col-md-6 form-group d-flex">
                                <input type="text" name="search" class="form-control bg-white rounded-0">
                                <button type="submit" class="btn btn-theme btn-primary rounded-0">
                                    {{ i18n['check'][current_lang] }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
    </div>
</section>
<!-- End Buy Car Section -->


    <!-- End Buy Car Section -->

    <!-- Start Our Advantages Section -->
    <section class="advantages py-5 section-animation">
        <div class="title-header text-center">
            <h2 class="mb-0 load-animate-left">{{ i18n['our_advantages_title'][current_lang] }}</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-0">
                    <div id="owl-slider-adv" class="owl-carousel owl-theme listing">
                        <!-- Advantage 1 -->
                        <div class="item p-4">
                            <div class="card load-animate item2 border-0 bg-transparent shadow text-center p-2">
                                <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/adv1.svg" alt="" />
                                </div>
                                <div class="card-body py-4 px-0 title-link-hover">
                                    <h3 class="mb-2 text-dark text-center lh-base">
                                        {{ i18n['advantage_lowest_prices_title'][current_lang] }}
                                    </h3>
                                    <p class="fs-5 advantage_text">
                                        {{ i18n['advantage_lowest_prices_text'][current_lang] }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Advantage 2 -->
                        <div class="item p-4">
                            <div class="card load-animate item2 border-0 bg-transparent shadow text-center p-2">
                                <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/adv2.svg" alt="" />
                                </div>
                                <div class="card-body py-4 px-0 title-link-hover">
                                    <h3 class="mb-2 text-dark text-center lh-base">
                                        {{ i18n['advantage_affordable_title'][current_lang] }}
                                    </h3>
                                    <p class="fs-5 advantage_text">
                                        {{ i18n['advantage_affordable_text'][current_lang] }}
                                    </p>
                                    <!-- <a href="../pagess/calculator" class="text-dark mt-2 btn btn-theme2">
                                        {{ i18n['calculator_button'][current_lang] }}
                                        <i class="fa fa-arrow-right mx-2"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>

                        <!-- Advantage 3 -->
                        <div class="item p-4">
                            <div class="card load-animate item2 border-0 bg-transparent shadow text-center p-2">
                                <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/adv3.svg" alt="" />
                                </div>
                                <div class="card-body py-4 px-0 title-link-hover">
                                    <h3 class="mb-2 text-dark text-center lh-base">
                                        {{ i18n['advantage_buy_top_auctions_title'][current_lang] }}
                                    </h3>
                                    <p class="fs-5 advantage_text">
                                        {{ i18n['advantage_buy_top_auctions_text'][current_lang] }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Advantage 4 -->
                        <div class="item p-4">
                            <div class="card load-animate item2 border-0 bg-transparent shadow text-center p-2">
                                <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/adv4.svg" alt="" />
                                </div>
                                <div class="card-body py-4 px-0 title-link-hover">
                                    <h3 class="mb-2 text-dark text-center lh-base">
                                        {{ i18n['advantage_online_control_title'][current_lang] }}
                                    </h3>
                                    <p class="fs-5 advantage_text">
                                        {{ i18n['advantage_online_control_text'][current_lang] }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Advantage 5 -->
                        <div class="item p-4">
                            <div class="card load-animate item2 border-0 bg-transparent shadow text-center p-2">
                                <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/adv5.svg" alt="" />
                                </div>
                                <div class="card-body py-4 px-0 title-link-hover">
                                    <h3 class="mb-2 text-dark text-center lh-base">
                                        {{ i18n['advantage_company_offices_title'][current_lang] }}
                                    </h3>
                                    <p class="fs-5 advantage_text">
                                        {{ i18n['advantage_company_offices_text'][current_lang] }}
                                    </p>
                                    <!-- <a href="../pagess/contact-us" class="text-dark mt-2 btn btn-theme2">
                                        {{ i18n['contact_support_button'][current_lang] }}
                                        <i class="fa fa-arrow-right mx-2"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mb-0 mt-5">
                <!-- <div class="col-lg-12">
                    <div class="more-btn text-center">
                        <a href="#home" class="btn btn-theme2">
                            {{ i18n['view_more'][current_lang] }}
                            <i class="fa fa-arrow-right mx-2"></i>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- End Our Advantages Section -->

<!-- Start Warranties Section -->
<section class="warranties py-5 bg-color-light section-animation">
    <div class="title-header text-center">
        <h2 class="mb-0 load-animate-left">{{ i18n['warranties_title'][current_lang] }}</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div id="owl-slider-warranties" class="owl-carousel owl-theme listing">
                    <div class="item p-2 item3 load-animate ">
                        <div class="card border-0 bg-transparent text-center">
                            <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/warr1.svg" alt="" />
                            </div>
                            <div class="card-body py-2 px-0 title-link-hover">
                                <h3 class="mb-2 text-dark text-center lh-base">
                                    {{ i18n['warranty_deposit_refund'][current_lang] }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="item p-2 item3 load-animate ">
                        <div class="card border-0 bg-transparent text-center">
                            <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/warr2.svg" alt="" />
                            </div>
                            <div class="card-body py-2 px-0 title-link-hover">
                                <h3 class="mb-2 text-dark text-center lh-base">
                                    {{ i18n['warranty_check_every_car'][current_lang] }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="item p-2 item3 load-animate ">
                        <div class="card border-0 bg-transparent text-center">
                            <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/warr3.svg" alt="" />
                            </div>
                            <div class="card-body py-2 px-0 title-link-hover">
                                <h3 class="mb-2 text-dark text-center lh-base">
                                    {{ i18n['warranty_additional_verification'][current_lang] }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="item p-2 item3 load-animate ">
                        <div class="card border-0 bg-transparent text-center">
                            <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/warr4.svg" alt="" />
                            </div>
                            <div class="card-body py-2 px-0 title-link-hover">
                                <h3 class="mb-2 text-dark text-center lh-base">
                                    {{ i18n['warranty_official_dealer'][current_lang] }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="item p-2 item3 load-animate ">
                        <div class="card border-0 bg-transparent text-center">
                            <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/warr5.svg" alt="" />
                            </div>
                            <div class="card-body py-2 px-0 title-link-hover">
                                <h3 class="mb-2 text-dark text-center lh-base">
                                    {{ i18n['warranty_odometer'][current_lang] }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="item p-2 item3 load-animate ">
                        <div class="card border-0 bg-transparent text-center">
                            <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/warr5.svg" alt="" />
                            </div>
                            <div class="card-body py-2 px-0 title-link-hover">
                                <h3 class="mb-2 text-dark text-center lh-base">
                                    {{ i18n['warranty_support_24_7'][current_lang] }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-0 mt-5">
            <div class="col-lg-12">
                <div class="more-btn text-center">
                    <a href="#home" class="btn btn-theme2"> 
                        {{ i18n['view_more'][current_lang] }}
                        <i class="fa fa-arrow-right mx-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Warranties Section -->

<!-- Start Video Section -->
{% if current_lang == 'ar' %}
<section class="video py-5 section-animation" style="direction: rtl; text-align: right;">
{% else %}
<section class="video py-5 section-animation" style="direction: ltr; text-align: left;">
{% endif %}
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
            <div class="col mb-3">
                <div class="card bg-transparent border-0 p-3">
                    <div class="title-header mb-3">
                        {% if current_lang == 'ar' %}
                        <h1 class="mb-0 fs-2 lh-base load-animate-left">{{ i18n['transportation_title'][current_lang] }}</h1>
                        {% else %}
                        <h3 class="mb-0 fs-2 lh-base load-animate-left">{{ i18n['transportation_title'][current_lang] }}</h3>
                        {% endif %}
                        <!-- <h2 class="mb-0 fs-2 lh-base load-animate-left">{{ i18n['transportation_title'][current_lang] }}</h2> -->
                    </div>
                    <a href="" class="card-header bg-transparent border-0 position-relative p-0 image-animate">
                        <img src="/assets/website_speed/speed_assets/uploads/images/delivery_to_port_main.webp" alt="" class="w-100">
                    </a>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card bg-transparent border-0 p-3">
                    <div class="title-header mb-3">
                        {% if current_lang == 'ar' %}
                        <h1 class="mb-0 fs-2 lh-base load-animate-left">{{ i18n['loading_shipping_title'][current_lang] }}</h1>
                        {% else %}
                        <h3 class="mb-0 fs-2 lh-base load-animate-left">{{ i18n['loading_shipping_title'][current_lang] }}</h3>
                        {% endif %}
                    </div>
                    <a href="" class="card-header bg-transparent border-0 position-relative p-0 image-animate">
                        <img src="/assets/website_speed/speed_assets/uploads/images/delivery_loading_main.webp" alt="" class="w-100">
                    </a>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card bg-transparent border-0 p-3">
                    <div class="title-header mb-3">
                        {% if current_lang == 'ar' %}
                        <h1 class="mb-0 fs-2 lh-base load-animate-left">{{ i18n['unloading_customs_title'][current_lang] }}</h1>
                        {% else %}
                        <h3 class="mb-0 fs-2 lh-base load-animate-left">{{ i18n['unloading_customs_title'][current_lang] }}</h3>
                        {% endif %}
                    </div>
                    <a href="" class="card-header bg-transparent border-0 position-relative p-0 image-animate">
                        <img src="/assets/website_speed/speed_assets/uploads/images/delivery_unloading_main.webp" alt="" class="w-100">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Video Section -->

    <!-- Start Cars Section -->
    <!-- <section class="cars-acution py-5 section-animation">
        <div class="container-fluid">
            <div class="title-header mb-5 d-flex align-items-center justify-content-between">
                <h2 class="mb-0 fs-3 lh-base load-animate-left">American Classic Cars</h2>
                <div class="more-btn text-center load-animate-left">
                    <a href="../pages/auctions" class="btn btn-theme2"> 
                        View All
                        <i class="fa fa-arrow-right mx-2"></i>
                    </a>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5">
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car1.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car2.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car3.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car4.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car4.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cars-acution py-5 section-animation">
        <div class="container-fluid">
            <div class="title-header mb-5 d-flex align-items-center justify-content-between">
                <h2 class="mb-0 fs-3 lh-base load-animate-left">Motorcycle Harley-Davidson</h2>
                <div class="more-btn text-center load-animate-left">
                    <a href="#home" class="btn btn-theme2"> 
                        View All
                        <i class="fa fa-arrow-right mx-2"></i>
                    </a>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5">
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car1.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car2.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car3.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car4.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car4.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End Cars Section -->

    <!-- Start footer Section -->
    
{% endblock %}

{% block script %} 
<script>
        
    const url = new URL(
        "https://api.copart-iaai-api.com/api/v1/get-cars"
    );

    const params = {
        "vin_number": "5UXKR0C52G0P21189",
        "make": "BMW",
        "model": "X3",
        "year_from": "2018",
        "year_to": "2018",
        "auction_date_from": "2023-01-01",
        "auction_date_to": "2023-02-01",
        "auction_name": "COPART",
        "only_sold": "0",
        "sale_price_from": "0",
        "sale_price_to": "100000",
        "page": "1",
        "per_page": "20",
        "api_token": "7471ef49828d1441aeb4516ec5bf76cfb62fa52e4125d04bc71b41dcfce0f829",
    };
    Object.keys(params)
        .forEach(key => url.searchParams.append(key, params[key]));

    const headers = {
        "Content-Type": "application/x-www-form-urlencoded",
        "Accept": "application/json",
        "Api-Version": "V1",
    };

    let body = "";

    fetch(url, {
        method: "POST",
        headers,
        body: body,
    }).then(response => response.json())
    .then(data => console.log(data.result));
    var countDownDate = new Date("Jun 17, 2023 23:59:55").getTime();
    
    var myfunc = setInterval(function() {
    // code goes here
    var now = new Date().getTime();
    var timeleft = countDownDate - now;
            
        var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
        var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

        document.querySelectorAll(".date-pub").forEach((item) => {
            item.innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s";
        })
    }, 1000)
    

    // document.getElementById("days").innerHTML = days + "d "
    // document.getElementById("hours").innerHTML = hours + "h " 
    // document.getElementById("mins").innerHTML = minutes + "m " 
    // document.getElementById("secs").innerHTML = seconds + "s"
    
</script>
{% endblock %}
