{% extends '/templates/page_base.html' %}

{% block title %} About Us{% endblock %}

{% block content %}

    <!-- Start Breadcrump Section -->
    <section class="breadcrump2 mb-3 d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-white">A few words about Speed</h1>
                    <p class="text-light">We specialize in acquiring and transporting vehicles from the United States since 2015.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrump Section -->

    <!-- Start About Page -->

    <section class="about-us details-page py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-header title-header2 mb-5">
                        <h2 class="fs-3 fw-bolder position-relative pb-3">Transportation service in Europe</h2>
                    </div>
                    <div id="owl-slider-about1" class="owl-carousel owl-theme listing">
                        <div class="item p-2 col-animation-2">
                            <div class="card border-0 bg-transparent text-center">
                                <div class="card-header border-0 bg-transparent p-0 position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <a data-fancybox="gallery" class="h-100 w-100" href="#" data-src="/assets/website_speed/speed_assets/uploads/about/52.webp" caption="">
                                        <img src="/assets/website_speed/speed_assets/uploads/about/52.webp" class="h-100 w-100"
                                        alt="" />
                                        <div class="card-body d-flex align-items-center justify-content-center">
                                            <i class="fa fs-3 fa-search-plus text-white"></i>
                                        </div>
                                    </a>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <div class="item p-2 col-animation-2">
                            <div class="card border-0 bg-transparent text-center">
                                <div class="card-header border-0 p-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <a data-fancybox="gallery" class="h-100 w-100" href="#" data-src="/assets/website_speed/speed_assets/uploads/about/56.webp" caption="">
                                        <img src="/assets/website_speed/speed_assets/uploads/about/56.webp" class="h-100 w-100"
                                        alt="" />
                                        <div class="card-body d-flex align-items-center justify-content-center">
                                            <i class="fa fs-3 fa-search-plus text-white"></i>
                                        </div>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                        <div class="item p-2 col-animation-2">
                            <div class="card border-0 bg-transparent text-center">
                                <div class="card-header border-0 p-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <a data-fancybox="gallery" class="h-100 w-100" href="#" data-src="/assets/website_speed/speed_assets/uploads/about/65.webp" caption="">
                                        <img src="/assets/website_speed/speed_assets/uploads/about/65.webp" class="h-100 w-100"
                                        alt="" />
                                        <div class="card-body d-flex align-items-center justify-content-center">
                                            <i class="fa fs-3 fa-search-plus text-white"></i>
                                        </div>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                        <div class="item p-2 col-animation-2">
                            <div class="card border-0 bg-transparent text-center">
                                <div class="card-header border-0 bg-transparent p-0 position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <a data-fancybox="gallery" class="h-100 w-100" href="#" data-src="/assets/website_speed/speed_assets/uploads/about/67.webp" caption="">
                                        <img src="/assets/website_speed/speed_assets/uploads/about/67.webp" class="h-100 w-100"
                                        alt="" />
                                        <div class="card-body d-flex align-items-center justify-content-center">
                                            <i class="fa fs-3 fa-search-plus text-white"></i>
                                        </div>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                        <div class="item p-2 col-animation-2">
                            <div class="card border-0 bg-transparent text-center">
                                <div class="card-header border-0 bg-transparent p-0 position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <a data-fancybox="gallery" class="h-100 w-100" href="#" data-src="/assets/website_speed/speed_assets/uploads/about/68.webp" caption="">
                                        <img  src="/assets/website_speed/speed_assets/uploads/about/68.webp" class="h-100 w-100"
                                        alt="" />
                                        <div class="card-body d-flex align-items-center justify-content-center">
                                            <i class="fa fs-3 fa-search-plus text-white"></i>
                                        </div>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <p>
                        Our company has been dealing with the acquisition and transport of vehicles from the US since 2015. Since then, we have managed to import over the thousound cars from different parts of North America. Apart from passenger cars, we also import motorcycles, quads and water scooters. We provide services for both individual clients and traders, as well as for wholesale customers. Thanks to our continuous cooperation with foreign companies, we can guarantee the best negotiated freight and land transport rates. In BidCars, we bet on transparency and ease of purchase, which is why our transport rates are known before making a bid. On our website, you will find a calculator calculating the total transaction cost, and thanks to this, clients do not incur any additional hidden costs.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="title-header title-header2 mb-5">
                        <h2 class="fs-3 fw-bolder position-relative pb-3">Container packing</h2>
                    </div>
                    <div id="owl-slider-about2" class="owl-carousel owl-theme listing">
                        <div class="item p-2 col-animation-2">
                            <div class="card border-0 bg-transparent text-center">
                                <div class="card-header border-0 bg-transparent p-0 position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <a data-fancybox="gallery" class="h-100 w-100" href="#" data-src="/assets/website_speed/speed_assets/uploads/about/52.webp" caption="">
                                        <img src="/assets/website_speed/speed_assets/uploads/about/52.webp" class="h-100 w-100"
                                        alt="" />
                                        <div class="card-body d-flex align-items-center justify-content-center">
                                            <i class="fa fs-3 fa-search-plus text-white"></i>
                                        </div>
                                    </a>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <div class="item p-2 col-animation-2">
                            <div class="card border-0 bg-transparent text-center">
                                <div class="card-header border-0 p-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <a data-fancybox="gallery" class="h-100 w-100" href="#" data-src="/assets/website_speed/speed_assets/uploads/about/56.webp" caption="">
                                        <img src="/assets/website_speed/speed_assets/uploads/about/56.webp" class="h-100 w-100"
                                        alt="" />
                                        <div class="card-body d-flex align-items-center justify-content-center">
                                            <i class="fa fs-3 fa-search-plus text-white"></i>
                                        </div>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                        <div class="item p-2 col-animation-2">
                            <div class="card border-0 bg-transparent text-center">
                                <div class="card-header border-0 p-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <a data-fancybox="gallery" class="h-100 w-100" href="#" data-src="/assets/website_speed/speed_assets/uploads/about/65.webp" caption="">
                                        <img src="/assets/website_speed/speed_assets/uploads/about/65.webp" class="h-100 w-100"
                                        alt="" />
                                        <div class="card-body d-flex align-items-center justify-content-center">
                                            <i class="fa fs-3 fa-search-plus text-white"></i>
                                        </div>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                        <div class="item p-2 col-animation-2">
                            <div class="card border-0 bg-transparent text-center">
                                <div class="card-header border-0 bg-transparent p-0 position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <a data-fancybox="gallery" class="h-100 w-100" href="#" data-src="/assets/website_speed/speed_assets/uploads/about/67.webp" caption="">
                                        <img src="/assets/website_speed/speed_assets/uploads/about/67.webp" class="h-100 w-100"
                                        alt="" />
                                        <div class="card-body d-flex align-items-center justify-content-center">
                                            <i class="fa fs-3 fa-search-plus text-white"></i>
                                        </div>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                        <div class="item p-2 col-animation-2">
                            <div class="card border-0 bg-transparent text-center">
                                <div class="card-header border-0 bg-transparent p-0 position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <a data-fancybox="gallery" class="h-100 w-100" href="#" data-src="/assets/website_speed/speed_assets/uploads/about/68.webp" caption="">
                                        <img  src="/assets/website_speed/speed_assets/uploads/about/68.webp" class="h-100 w-100"
                                        alt="" />
                                        <div class="card-body d-flex align-items-center justify-content-center">
                                            <i class="fa fs-3 fa-search-plus text-white"></i>
                                        </div>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <p>
                        Our company has been dealing with the acquisition and transport of vehicles from the US since 2015. Since then, we have managed to import over the thousound cars from different parts of North America. Apart from passenger cars, we also import motorcycles, quads and water scooters. We provide services for both individual clients and traders, as well as for wholesale customers. Thanks to our continuous cooperation with foreign companies, we can guarantee the best negotiated freight and land transport rates. In BidCars, we bet on transparency and ease of purchase, which is why our transport rates are known before making a bid. On our website, you will find a calculator calculating the total transaction cost, and thanks to this, clients do not incur any additional hidden costs.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- End About Page -->
    


{% endblock %}

{% block script %}
<script>
    Fancybox.bind("[data-fancybox]", {
        Image: {
            zoom: false,
        },
        helpers : { 
            title : { type : 'inside' }
        }, // helpers
        beforeLoad: function() {
            this.title = (this.title ? '' + this.title + '<br />' : '') + 'Image ' + (this.index + 1) + ' of ' + this.group.length;
        },
    });
</script>
{% endblock %}

