{% extends '/templates/base_speed.html' %}

{% block title %}{{ i18n['about_us'][current_lang] }}{% endblock %}

{% block content %}
<!-- Start Breadcrump Section -->
<style>
.section-animation,
.load-animate-left,
.load-animate, .animate-top {
    opacity: 1 !important;
    visibility: visible !important;
}
.hamburger {
    background: #000 !important;
}
.hamburger {
    border-color: black !important;
}
.image-animate {
    clip-path: inset(0% 0% 0% 0%) !important;
    opacity: 1 !important;
    display: block !important;
    visibility: visible !important;
}
/* .load-animate-left {
    transform: translateY(40px) !important;
    opacity: 1 !important;
    visibility: visible !important;
} */
.hero .title-header {
    transform: translateY(200px);
    opacity: 1 !important;
    visibility: visible !important;
    transition: transform 1s ease-out, opacity 1s ease-out;
}
#header {
    background-color: rgb(248, 248, 248) !important;
}

.nav-bar a,
.nav-bar .text-white {
    color: #000 !important; /* أسود */
}
html[lang="ar"] #header .nav-bar a {
    color: #000 !important;
    font-weight: bold;
}
</style>
<section class="breadcrump2 d-flex align-items-end justify-content-center mb-3 section-animation inner-pages">
  <div class="container position-relative z-1">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="text-white load-animate-left">{{ i18n['about_us_intro_title'][current_lang] }}</h1>
        <p class="text-light load-animate-left transition-delay-1">{{ i18n['about_us_subtitle'][current_lang] }}</p>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrump Section -->

<!-- Start About Page -->
<section class="home-welcome py-5 section-animation inner-pages">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="image relative h-100">
          <img src="/assets/website_speed/speed_assets/uploads/settings/office.jpg" alt="" class="w-100 h-100 image-animate">
          <div class="years playfont image-animate">
            <h2 style="background-image: url('uploads/settings/office.jpg')">20</h2>
            <h5 class="main-color">{{ i18n['years_in_business'][current_lang] }}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-7 details d-flex flex-column justify-content-center px-4">
        <div class="title-header title-header2 mb-4">
          <h2 class="fw-bolder position-relative pb-3 animate-top transition-delay-1">{{ i18n['about_us'][current_lang] }}</h2>
          <p class="fw-bold text-muted fs-3 animate-top transition-delay-2">{{ i18n['about_us_intro_paragraph'][current_lang] }}</p>
        </div>
        <p class="text-muted fs-5 mt-4 animate-top transition-delay-3">{{ i18n['about_us_intro_details'][current_lang] }}</p>
      </div>
    </div>
  </div>
</section>

<!-- Start Vision / Mission / Services Summary -->
<section class="services py-5 section-animation">
  <div class="container">
    <div class="row justify-content-center align-items-center row-cols-1 row-cols-md-2 row-cols-lg-3">
      <div class="col mb-3 animate-top">
        <div class="card text-center bg-transparent border-0">
          <div class="card-header bg-transparent border-0 p-0">
            <img class="" src="/assets/website_speed/speed_assets/uploads/settings/vision.png" alt="Vision">
          </div>
          <div class="card-body py-0">
            <h3 class="card-title fw-bold">{{ i18n['our_vision_title'][current_lang] }}</h3>
            <p class="card-text mt-2">{{ i18n['our_vision_description'][current_lang] }}</p>
          </div>
        </div>
      </div>
      <div class="col mb-3 animate-top">
        <div class="card text-center bg-transparent border-0">
          <div class="card-header bg-transparent border-0 p-0">
            <img class="" src="/assets/website_speed/speed_assets/uploads/settings/conversation.png" alt="Message">
          </div>
          <div class="card-body py-0">
            <h3 class="card-title fw-bold">{{ i18n['our_message_title'][current_lang] }}</h3>
            <p class="card-text mt-2">{{ i18n['our_message_description'][current_lang] }}</p>
          </div>
        </div>
      </div>
      <div class="col mb-3 animate-top">
        <div class="card text-center bg-transparent border-0">
          <div class="card-header bg-transparent border-0 p-0">
            <img class="" src="/assets/website_speed/speed_assets/uploads/settings/customer-service.png" alt="Services">
          </div>
          <div class="card-body py-0">
            <h3 class="card-title fw-bold">{{ i18n['our_services_title'][current_lang] }}</h3>
            <p class="card-text mt-2">{{ i18n['our_services_description'][current_lang] }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Start About Details Services Combined -->
<section class="about-us details-page py-5">
  <div class="container">
    <div class="row">
        {% for key in ['service_auction', 'service_shipping', 'service_clearance', 'service_parts', 'service_inspection'] %}
        {% set desc_key = key + '_desc' %}
        <div class="col-md-12 mb-5">
          <div class="title-header title-header2 section-animation">
            <h2 class="fs-3 fw-bolder position-relative pb-3 animate-top">{{ i18n[key][current_lang] }}</h2>
            <p class="fw-bold text-muted fs-3 animate-top transition-delay-2">{{ i18n[desc_key][current_lang] }}</p>
          </div>
        </div>
      {% endfor %}
      
      
    </div>
  </div>
</section>
{% endblock %}
