    {% extends '/templates/base_speed.html' %}

    {% block title %} Auctions{% endblock %}
    
    {% block content %}
   
    <!-- End Navbar -->

    <section class="breadcrump2 d-flex align-items-end justify-content-center mb-3 section-animation inner-pages">
        <div class="container position-relative z-1">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-white load-animate-left mb-5">Care list</h1>
                    <ul class="ul d-flex flex-wrap px-3 py-3 breadcrump-list rounded-3 align-items-center justify-content-center">
                        <li>
                            <a href="../index" class="text-white mx-1">Home </a>
                        </li>
                        <li>
                            <a href="auctions" class="text-white mx-1"><span class="mx-2">/</span> AUTOMOBILE </a>
                        </li>
                        <li>
                            <a class="text-white mx-1"><span class="mx-2">/</span> care list </a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </section>

    <!-- Start Filter Section -->
    <section class="filter py-3 section-animation inner-pages ">
        <div class="container">
            <form action="" method="post">
                <div class="row">
                    <div class="col-md-4 form-group animate-top">
                        <select name="vehiclesType" id="vehiclesType" class="form-control select2 form-select " id="basic-usage">
                            
                        </select>
                    </div>
                    <div class="col-md-3 form-group animate-top transition-delay-1">
                        <select name="models" id="models" class="form-control select2 form-select " id="basic-usage">
                            
                        </select>
                    </div>
                    <div class="col-md-3 form-group animate-top transition-delay-2">
                        <select name="makes" id="makes" class="form-control select2 form-select ">

                        </select>
                    </div>
                    <div class="col-md-2 form-group animate-top transition-delay-3">
                        <button type="submit" class="btn btn-primary h-100"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
                    </div>
                </div>
            </form>
            
        </div>
    </section>
    <!-- End Filter Section -->

    <!-- Start Result section -->
    <section class="result cars-page py-5 bg-color-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 section-animation">
                    <div class="card border-0 mb-5 animate-top ">
                        <div class="card-header bg-transparent border-0 border-bottom pb-5">
                            <h4>Filters</h4>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                <div class="form-group">
                                    <input type="text" name="searchName" class="form-control bg-light border-0" placeholder="search by name">
                                </div>
                            </form>
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <select name="yearsStart" id="yearsStart" class="select2 form-select">
                                    
                                </select>
                                <span class="mx-3 fw-bold">_</span>
                                <select name="yearsEnd" id="yearsEnd" class="select2 form-select">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 p-3 animate-top">
                        <div class="card-header bg-transparent border-0 border-bottom pb-5">
                            <h4>Advanced Filters</h4>
                        </div>
                        <div class="card-body border-bottom">
                            <h5 class="mb-4">Loss Type</h5>
                            <div class="form-group">
                                <input type="checkbox" name="" id="inlineCheckbox2" class="border-0" wfd-id="id2" value="Collision">
                                <label for="inlineCheckbox2" class="form-check-label fw-light mx-2">Collision</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="" id="inlineCheckbox3" class="border-0" wfd-id="id3" value="Fire">
                                <label for="inlineCheckbox3" class="form-check-label fw-light mx-2">Fire</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="" id="inlineCheckbox4" class="border-0" wfd-id="id4" value="Other">
                                <label for="inlineCheckbox5" class="form-check-label fw-light mx-2">Other</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="" id="inlineCheckbox5" class="border-0" wfd-id="id5" value="Theft">
                                <label for="inlineCheckbox5" class="form-check-label fw-light mx-2">Theft</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="" id="inlineCheckbox6" class="border-0" wfd-id="id6" value="Water">
                                <label for="inlineCheckbox6" class="form-check-label fw-light mx-2">Water</label>
                            </div>
                        </div>
                        <div class="card-body border-bottom">
                            <h5 class="mb-4">Fuel Type</h5>
                            <div class="form-group">
                                <input type="checkbox" name="" id="inlineCheckbox7" class="border-0" wfd-id="id7" value="Diesel">
                                <label for="inlineCheckbox7" class="form-check-label fw-light mx-2">Diesel</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="" id="inlineCheckbox8" class="border-0" wfd-id="id8" value="Electric">
                                <label for="inlineCheckbox8" class="form-check-label fw-light mx-2">Electric</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="" id="inlineCheckbox9" class="border-0" wfd-id="id9" value="Flexible Fuel">
                                <label for="inlineCheckbox9" class="form-check-label fw-light mx-2">Flexible Fuel</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="" id="inlineCheckbox10" class="border-0" wfd-id="id10" value="Gasoline">
                                <label for="inlineCheckbox10" class="form-check-label fw-light mx-2">Gasoline</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="" id="inlineCheckbox11" class="border-0" wfd-id="id11" value="Hybrid">
                                <label for="inlineCheckbox11" class="form-check-label fw-light mx-2">Hybrid</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="" id="inlineCheckbox12" class="border-0" wfd-id="id12" value="Other">
                                <label for="inlineCheckbox12" class="form-check-label fw-light mx-2">Other</label>
                            </div>
                        </div>
                        <div class="card-body exterior-color">
                            <h5 class="mb-4">Exterior color</h5>
                            <div class="form-group d-flex align-items-center w-100">
                                <input type="checkbox" name="" id="inlineCheckbox13" class="m-0" wfd-id="id13" value="Dark">
                                <label for="inlineCheckbox13" class="form-check-label fw-light mx-2 w-100 mb-0">
                                    <span class="color-line"></span>
                                    Derk
                                </label>
                            </div>
                            <div class="form-group d-flex align-items-center w-100">
                                <input type="checkbox" name="" id="inlineCheckbox14" class="m-0" wfd-id="id14" value="White">
                                <label for="inlineCheckbox14" class="form-check-label fw-light mx-2 w-100 mb-0">
                                    <span class="color-line bg-white"></span>
                                    White
                                </label>
                            </div>
                            <div class="form-group d-flex align-items-center w-100">
                                <input type="checkbox" name="" id="inlineCheckbox15" class="m-0" wfd-id="id15" value="Silver">
                                <label for="inlineCheckbox15" class="form-check-label fw-light mx-2 w-100 mb-0">
                                    <span class="color-line silver"></span>
                                    Silver
                                </label>
                            </div>
                            <div class="form-group d-flex align-items-center w-100">
                                <input type="checkbox" name="" id="inlineCheckbox16" class="m-0" wfd-id="id16" value="Gray">
                                <label for="inlineCheckbox16" class="form-check-label fw-light mx-2 w-100 mb-0">
                                    <span class="color-line gray"></span>
                                    Gray
                                </label>
                            </div>
                            <div class="form-group d-flex align-items-center w-100">
                                <input type="checkbox" name="" id="inlineCheckbox17" class="m-0" wfd-id="id17" value="Blue">
                                <label for="inlineCheckbox17" class="form-check-label fw-light mx-2 w-100 mb-0">
                                    <span class="color-line blue"></span>
                                    Blue
                                </label>
                            </div>
                            <div class="form-group d-flex align-items-center w-100">
                                <input type="checkbox" name="" id="inlineCheckbox18" class="m-0" wfd-id="id18" value="Red">
                                <label for="inlineCheckbox18" class="form-check-label fw-light mx-2 w-100 mb-0">
                                    <span class="color-line red"></span>
                                    Red
                                </label>
                            </div>
                            <div class="form-group d-flex align-items-center w-100">
                                <input type="checkbox" name="" id="inlineCheckbox19" class="m-0" wfd-id="id19" value="Green">
                                <label for="inlineCheckbox19" class="form-check-label fw-light mx-2 w-100 mb-0">
                                    <span class="color-line green"></span>
                                    Green
                                </label>
                            </div>
                            <div class="form-group d-flex align-items-center w-100">
                                <input type="checkbox" name="" id="inlineCheckbox20" class="m-0" wfd-id="id20" value="Gold">
                                <label for="inlineCheckbox20" class="form-check-label fw-light mx-2 w-100 mb-0">
                                    <span class="color-line gold"></span>
                                    Gold
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 cars-info">
                    <div class="bg-white p-3" id="dataApi">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Result section -->
    
    <!-- Start footer Section --> 
    {% endblock %}

    {% block script %}
     
    <script src="/assets/website_speed/speed_assets/assets/js/filter.js"></script>
    
    <script>
        $( '.select2' ).select2( {
            theme: 'bootstrap-5',
            width: 'auto',
        } );
    </script>

    <script>
        getDataCountHistory()
        getYears();
        var yearFrom3 = document.querySelector('#yearsStart');
        var yearTo3 = document.querySelector('#yearsEnd');
        var from = yearFrom3.value;
        var to = yearTo3.value;
        getResultCaes("BMW", "X3", from, to);
    </script>
    <script src="/assets/website_speed/speed_assets/assets/js/animate.js"></script>


    {% endblock %}

