{% extends 'templates/base_speed.html' %}

{% block title %}{{ i18n['contact'][current_lang] }}{% endblock %}

{% block content %}
<!-- Start Breadcrump Section -->
<section class="breadcrump2 d-flex align-items-end justify-content-center mb-3 section-animation inner-pages">
    <div class="container position-relative z-1">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-white load-animate-left mb-5">{{ i18n['contact'][current_lang] }}</h1>
                <ul class="ul d-flex flex-wrap px-3 py-3 breadcrump-list rounded-3 align-items-center justify-content-center">
                    <li>
                        <a href="../index" class="text-white mx-1">{{ i18n['home'][current_lang] }}</a>
                    </li>
                    <li>
                        <a class="text-white mx-1"><span class="mx-2">/</span> {{ i18n['contact'][current_lang] }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Breadcrump Section -->

<!-- Start Contact Page -->
<div class="content-area contact-section" :class="{'shifted-content': isStatic}">
    <div class="contact-us">
        {% if current_lang == 'ar' %}
        <div class="information" style="direction: rtl; text-align: right;" data-aos="fade-right">
        {% else %}
        <div class="information" style="direction: ltr; text-align: left;" data-aos="fade-right">
        {% endif %}
            <h4 class="fw-bold mb-2">{{ i18n['questions'][current_lang] }}</h4>
            <h1 class="fw-bold title">{{ i18n['contact'][current_lang] }}</h1>
            <p class="desc">{{ i18n['contact_intro'][current_lang] }}</p>

            <div class="container info">
                <div class="offices">
                    <h3>{{ i18n['offices'][current_lang] }}</h3>
                    <p class="desc">{{ i18n['office_yemen'][current_lang] }}</p>
                </div>
                <div class="email">
                    <h3>{{ i18n['email'][current_lang] }}</h3>
                    <p class="desc">info@speedym.com</p>
                    <p class="desc">cs@speedym.com</p>
                </div>
            </div>
        </div>

        <div class="form" data-aos="fade-up">
            <form id="customer-contact-form">
                <h1>{{ i18n['get_in_touch'][current_lang] }}</h1>
                <p class="desc">{{ i18n['get_in_touch_desc'][current_lang] }}</p>

                <div class="field field-dark">
                    <input type="text" class="field-text" name="full_name" :placeholder="i18n['full_name'][current_lang]" required />
                </div>
                <div class="field field-dark">
                    <input type="email" class="field-text" name="email" :placeholder="i18n['email_placeholder'][current_lang]" required />
                </div>
                <div class="field field-dark">
                    <input type="text" class="field-text" name="phone_number" :placeholder="i18n['phone'][current_lang]" />
                </div>
                <div class="field field-dark">
                    <textarea class="field-textarea" rows="4" name="message" :placeholder="i18n['message'][current_lang]" required></textarea>
                </div>
                <div class="submit">
                    <button type="button" class="btn btn-danger" id="submit-contact-form" style="padding: 10px 10px; width: 25%;">{{ i18n['submit'][current_lang] }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Contact Page -->
{% endblock %}

{% block script %}
<script src="/assets/website_speed/js/contact-us.js"></script>
{% endblock %}
