{% extends '/templates/page_base.html' %}

{% block title %} Help {% endblock %}

{% block content %}
 <!-- End Navbar -->

    <!-- Start Breadcrump Section -->
    <section class="breadcrump2 mb-3 d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-white">The vehicle purchase process</h1>
                    <p class="text-light">Are you interested in importing cars from the USA? Check out our guide on how the process of purchasing a vehicle from the USA unfolds on our website.
                        We explain everything that's important, step by step. From now on, US car auctions will have no secrets for you.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrump Section -->

    <!-- Start About Page -->

    <section class="help details-page py-5 bg-white">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="title-header">
                        <h2 class="fs-1 text-center">4 Steps to Buying a Vehicle with BidCars</h2>
                    </div>
                    <p>
                        To make the import of vehicles from the USA clear and transparent, we've created the BidCars service. Auctions are conducted without intermediaries, with no hidden costs - you're the one making all the decisions! You choose the car you want to bid on and the amount you're willing to pay, and we help you win the auction! Importantly, at BidCars, there are no costs incurred before you win a bid on a car. Registration and participation in the auction are free! We only require a refundable deposit to secure your bidding. BidCars allows you to quickly and easily order auctions, purchase, and ship vehicles, with an option for "doorstep" delivery. BidCars stands for 100% transparency and full awareness of the costs incurred, as well as control over the location of your vehicle.
                    </p>
                </div>
            </div>
            <div class="row help-steps mb-5 ">
                <div class="col-md-9 border-bottom">
                    <h4 class="text-info mb-5">Step 1</h4>
                    <h2 class="mb-2">Find your dream car</h2>
                    <p class="my-4 fs-5">
                        Find your dream car from the USA. Our search engine and detailed filters will make it easy for you to browse through our car database. At BidCars, you don't need to create an account to view the cars and auctions that interest you.
                    </p>
                    <p class="my-4 fs-5">
                        Find your dream car from the USA. Our search engine and detailed filters will make it easy for you to browse through our car database. At BidCars, you don't need to create an account to view the cars and auctions that interest you.
                    </p>
                    <p class="my-4 fs-5">
                        Once registered, you'll have the opportunity to track all the vehicles you're interested in from one tab. You'll also gain:
                    </p>
                    <ul class="my-4 fs-5">
                        <li>the ability to add cars to your watchlist,</li>
                        <li>the ability to view final prices of archived offers,</li>
                    </ul>
                    <p class="my-4 fs-5">
                        Find your dream car from the USA. Our search engine and detailed filters will make it easy for you to browse through our car database. At BidCars, you don't need to create an account to view the cars and auctions that interest you.
                    </p>
                </div>
                <div class="col-md-3 d-flex align-items-center justify-content-around">
                    <img src="/assets/website_speed/speed_assets/uploads/topics/icon-page-3.svg" alt="">
                </div>
            </div>
            <div class="row help-steps mb-5 ">
                <div class="col-md-9 border-bottom">
                    <h4 class="text-info mb-5">Step 2</h4>
                    <h2 class="mb-2">Make a Refundable Deposit</h2>
                    <p class="my-4 fs-5">
                        Find your dream car from the USA. Our search engine and detailed filters will make it easy for you to browse through our car database. At BidCars, you don't need to create an account to view the cars and auctions that interest you.
                    </p>
                    <p class="my-4 fs-5">
                        Find your dream car from the USA. Our search engine and detailed filters will make it easy for you to browse through our car database. At BidCars, you don't need to create an account to view the cars and auctions that interest you.
                    </p>
                    <p class="my-4 fs-5">
                        Once registered, you'll have the opportunity to track all the vehicles you're interested in from one tab. You'll also gain:
                    </p>
                    <ul class="my-4 fs-5">
                        <li>the ability to add cars to your watchlist,</li>
                        <li>the ability to view final prices of archived offers,</li>
                    </ul>
                    <p class="my-4 fs-5">
                        Find your dream car from the USA. Our search engine and detailed filters will make it easy for you to browse through our car database. At BidCars, you don't need to create an account to view the cars and auctions that interest you.
                    </p>
                </div>
                <div class="col-md-3 d-flex align-items-center justify-content-around">
                    <img src="/assets/website_speed/speed_assets/uploads/topics/icon-page-2.svg" alt="">
                </div>
            </div>
            <div class="row help-steps mb-5 ">
                <div class="col-md-9 border-bottom">
                    <h4 class="text-info mb-5">Step 2</h4>
                    <h2 class="mb-2">Make a Refundable Deposit</h2>
                    <p class="my-4 fs-5">
                        Find your dream car from the USA. Our search engine and detailed filters will make it easy for you to browse through our car database. At BidCars, you don't need to create an account to view the cars and auctions that interest you.
                    </p>
                    <p class="my-4 fs-5">
                        Find your dream car from the USA. Our search engine and detailed filters will make it easy for you to browse through our car database. At BidCars, you don't need to create an account to view the cars and auctions that interest you.
                    </p>
                    <p class="my-4 fs-5">
                        Once registered, you'll have the opportunity to track all the vehicles you're interested in from one tab. You'll also gain:
                    </p>
                    <ul class="my-4 fs-5">
                        <li>the ability to add cars to your watchlist,</li>
                        <li>the ability to view final prices of archived offers,</li>
                    </ul>
                    <p class="my-4 fs-5">
                        Find your dream car from the USA. Our search engine and detailed filters will make it easy for you to browse through our car database. At BidCars, you don't need to create an account to view the cars and auctions that interest you.
                    </p>
                </div>
                <div class="col-md-3 d-flex align-items-center justify-content-around">
                    <img src="/assets/website_speed/speed_assets/uploads/topics/icon-page-2.svg" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- End About Page -->

    {% endblock %}