    <!-- Start Our Advantages Section -->
    <section class="advantages py-5 section-animation">
        <div class="title-header text-center">
            <h2 class="mb-0 load-animate-left">{{ i18n['our_advantages_title'][current_lang] }}</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-0">
                    <div id="owl-slider-adv" class="owl-carousel owl-theme listing">
                        
                        <!-- Advantage 1 -->
                        <div class="item p-4">
                            <div class="card load-animate item2 border-0 bg-transparent shadow text-center p-2">
                                <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/adv1.svg" alt="" />
                                </div>
                                <div class="card-body py-4 px-0 title-link-hover">
                                    <h3 class="mb-2 text-dark text-center lh-base">
                                        {{ i18n['advantage_lowest_prices_title'][current_lang] }}
                                    </h3>
                                    <p class="fs-5">
                                        {{ i18n['advantage_lowest_prices_text'][current_lang] }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Advantage 2 -->
                        <div class="item p-4">
                            <div class="card load-animate item2 border-0 bg-transparent shadow text-center p-2">
                                <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/adv2.svg" alt="" />
                                </div>
                                <div class="card-body py-4 px-0 title-link-hover">
                                    <h3 class="mb-2 text-dark text-center lh-base">
                                        {{ i18n['advantage_affordable_title'][current_lang] }}
                                    </h3>
                                    <p class="fs-5">
                                        {{ i18n['advantage_affordable_text'][current_lang] }}
                                    </p>
                                    <a href="../pagess/calculator" class="text-dark mt-2 btn btn-theme2">
                                        {{ i18n['calculator_button'][current_lang] }}
                                        <i class="fa fa-arrow-right mx-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Advantage 3 -->
                        <div class="item p-4">
                            <div class="card load-animate item2 border-0 bg-transparent shadow text-center p-2">
                                <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/adv3.svg" alt="" />
                                </div>
                                <div class="card-body py-4 px-0 title-link-hover">
                                    <h3 class="mb-2 text-dark text-center lh-base">
                                        {{ i18n['advantage_buy_top_auctions_title'][current_lang] }}
                                    </h3>
                                    <p class="fs-5">
                                        {{ i18n['advantage_buy_top_auctions_text'][current_lang] }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Advantage 4 -->
                        <div class="item p-4">
                            <div class="card load-animate item2 border-0 bg-transparent shadow text-center p-2">
                                <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/adv4.svg" alt="" />
                                </div>
                                <div class="card-body py-4 px-0 title-link-hover">
                                    <h3 class="mb-2 text-dark text-center lh-base">
                                        {{ i18n['advantage_online_control_title'][current_lang] }}
                                    </h3>
                                    <p class="fs-5">
                                        {{ i18n['advantage_online_control_text'][current_lang] }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Advantage 5 -->
                        <div class="item p-4">
                            <div class="card load-animate item2 border-0 bg-transparent shadow text-center p-2">
                                <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                    <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/adv5.svg" alt="" />
                                </div>
                                <div class="card-body py-4 px-0 title-link-hover">
                                    <h3 class="mb-2 text-dark text-center lh-base">
                                        {{ i18n['advantage_company_offices_title'][current_lang] }}
                                    </h3>
                                    <p class="fs-5">
                                        {{ i18n['advantage_company_offices_text'][current_lang] }}
                                    </p>
                                    <a href="../pagess/contact-us" class="text-dark mt-2 btn btn-theme2">
                                        {{ i18n['contact_support_button'][current_lang] }}
                                        <i class="fa fa-arrow-right mx-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mb-0 mt-5">
                <div class="col-lg-12">
                    <div class="more-btn text-center">
                        <a href="#home" class="btn btn-theme2">
                            {{ i18n['view_more'][current_lang] }}
                            <i class="fa fa-arrow-right mx-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Advantages Section -->