    <!-- Start Buy Car Section -->
    <section class="buy-car py-5 bg-color-light section-animation">
        <div class="container-fluid">
            <div class="title-header text-center">
                <h2 class="mb-0 load-animate-left">
                    {{ i18n['how_to_buy_title'][current_lang] }}
                </h2>
                <p class="fs-1 load-animate-left transition-delay-1">
                    {{ i18n['how_to_buy_subtitle'][current_lang] }}
                </p>
            </div>
            <div class="d-flex steps text-center mb-5">
                <div class="card border-0 bg-transparent">
                    <img src="/assets/website_speed/speed_assets/uploads/images/_center.svg" alt="" class="line-center">
                    <div class="card-header bg-transparent border-0 load-animate">
                        <h4 class="fw-bold mb-4">{{ i18n['day'][current_lang]}} 1</h4>
                        <img src="/assets/website_speed/speed_assets/uploads/images/step_registration.svg" alt="" class="m-auto img-step">
                        <p class="fs-4 fw-bolder mt-4">
                            {{ i18n['step_registration'][current_lang] }}
                        </p>
                    </div>
                </div>
                <div class="card border-0 bg-transparent">
                    <img src="/assets/website_speed/speed_assets/uploads/images/_center.svg" alt="" class="line-center">
                    <div class="card-header bg-transparent border-0 load-animate">
                        <h4 class="fw-bold mb-4">{{ i18n['day'][current_lang]}} 1-2</h4>
                        <img src="/assets/website_speed/speed_assets/uploads/images/step_deposit.svg" alt="" class="m-auto img-step">
                        <p class="fs-4 fw-bolder mt-4">
                            {{ i18n['step_deposit'][current_lang] }}
                        </p>
                    </div>
                </div>
                <div class="card border-0 bg-transparent">
                    <img src="/assets/website_speed/speed_assets/uploads/images/_center.svg" alt="" class="line-center">
                    <div class="card-header bg-transparent border-0 load-animate">
                        <h4 class="fw-bold mb-4">{{ i18n['day'][current_lang]}} 2-3</h4>
                        <img src="/assets/website_speed/speed_assets/uploads/images/step_search.svg" alt="" class="m-auto img-step">
                        <p class="fs-4 fw-bolder mt-4">
                            {{ i18n['step_vehicle_search'][current_lang] }}
                        </p>
                    </div>
                </div>
                <div class="card border-0 bg-transparent">
                    <img src="/assets/website_speed/speed_assets/uploads/images/_center.svg" alt="" class="line-center">
                    <div class="card-header bg-transparent border-0 load-animate">
                        <h4 class="fw-bold mb-4">{{ i18n['day'][current_lang]}} 3-4</h4>
                        <img src="/assets/website_speed/speed_assets/uploads/images/step_bidding.svg" alt="" class="m-auto img-step">
                        <p class="fs-4 fw-bolder mt-4">
                            {{ i18n['step_bidding'][current_lang] }}
                        </p>
                    </div>
                </div>
                <div class="card border-0 bg-transparent">
                    <img src="/assets/website_speed/speed_assets/uploads/images/_center.svg" alt="" class="line-center">
                    <div class="card-header bg-transparent border-0 load-animate">
                        <h4 class="fw-bold mb-4">{{ i18n['day'][current_lang]}} 4-6</h4>
                        <img src="/assets/website_speed/speed_assets/uploads/images/step_payment.svg" alt="" class="m-auto img-step">
                        <p class="fs-4 fw-bolder mt-4">
                            {{ i18n['step_payment'][current_lang] }}
                        </p>
                    </div>
                </div>
                <div class="card border-0 bg-transparent">
                    <img src="/assets/website_speed/speed_assets/uploads/images/_center.svg" alt="" class="line-center">
                    <div class="card-header bg-transparent border-0 load-animate">
                        <h4 class="fw-bold mb-4">{{ i18n['day'][current_lang]}} 6-10</h4>
                        <img src="/assets/website_speed/speed_assets/uploads/images/step_transportation.svg" alt="" class="m-auto img-step">
                        <p class="fs-4 fw-bolder mt-4">
                            {{ i18n['step_transportation'][current_lang] }}
                        </p>
                    </div>
                </div>
                <div class="card border-0 bg-transparent">
                    <img src="/assets/website_speed/speed_assets/uploads/images/_center.svg" alt="" class="line-center">
                    <div class="card-header bg-transparent border-0 load-animate">
                        <h4 class="fw-bold mb-4">{{ i18n['day'][current_lang]}} 10-50</h4>
                        <img src="/assets/website_speed/speed_assets/uploads/images/step_shipping.svg" alt="" class="m-auto img-step">
                        <p class="fs-4 fw-bolder mt-4">
                            {{ i18n['step_shipping'][current_lang] }}
                        </p>
                    </div>
                </div>
                <div class="card border-0 bg-transparent">
                    <img src="/assets/website_speed/speed_assets/uploads/images/_center.svg" alt="" class="line-center">
                    <div class="card-header bg-transparent border-0 load-animate">
                        <h4 class="fw-bold mb-4">{{ i18n['day'][current_lang]}} 50-55</h4>
                        <img src="/assets/website_speed/speed_assets/uploads/images/step_shipping.svg" alt="" class="m-auto img-step">
                        <!-- <img src="/assets/website_speed/speed_assets/uploads/images/step_customs_delivery.svg" alt="" class="m-auto img-step"> -->
                        <p class="fs-4 fw-bolder mt-4">
                            {{ i18n['step_customs_delivery'][current_lang] }}
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="title-header text-center mb-3 load-animate transition-delay-5">
                <p class="fs-4 text-center">
                    {{ i18n['purchase_plan_note'][current_lang] }}
                </p>
            </div>
    
            <div class="row justify-content-center auto-check align-items-center load-animate transition-delay-5">
                <div class="col px-5 text-center">
                    <div class="card border-0 text-center m-auto position-relative justify-content-center" style="--image: url('../../uploads/images/img1.jpeg')">
                        <div class="title-header text-center z-1 position-relative mb-0">
                            <h2 class="text-white">
                                {{ i18n['autocheck'][current_lang] }}
                            </h2>
                            <p class="text-light">
                                {{ i18n['purchase_plan_note'][current_lang] }}
                            </p>
                            <p class="text-light">
                                {{ i18n['purchase_plan_note_short'][current_lang] }}
                            </p>
                            <h2 class="text-white fs-1 mb-0">
                                {{ i18n['free'][current_lang] }}
                            </h2>
                        </div>
                        <form action="" method="post" class="mt-3 position-relative z-1">
                            <div class="row justify-content-center">
                                <div class="col-md-6 form-group d-flex">
                                    <input type="text" name="search" class="form-control bg-white rounded-0">
                                    <button type="submit" class="btn btn-theme btn-primary rounded-0">
                                        {{ i18n['check'][current_lang] }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Buy Car Section -->