    <!-- Start Cars Section -->
    <section class="cars-acution py-5 section-animation">
        <div class="container-fluid">
            <div class="title-header mb-5 d-flex align-items-center justify-content-between">
                <h2 class="mb-0 fs-3 lh-base load-animate-left">American Classic Cars</h2>
                <div class="more-btn text-center load-animate-left">
                    <a href="../pages/auctions" class="btn btn-theme2"> 
                        View All
                        <i class="fa fa-arrow-right mx-2"></i>
                    </a>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5">
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car1.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car2.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car3.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car4.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car4.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cars-acution py-5 section-animation">
        <div class="container-fluid">
            <div class="title-header mb-5 d-flex align-items-center justify-content-between">
                <h2 class="mb-0 fs-3 lh-base load-animate-left">Motorcycle Harley-Davidson</h2>
                <div class="more-btn text-center load-animate-left">
                    <a href="#home" class="btn btn-theme2"> 
                        View All
                        <i class="fa fa-arrow-right mx-2"></i>
                    </a>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5">
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car1.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car2.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car3.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car4.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-3 px-4">
                    <div class="card bg-transparent p-2">
                        <div class="card-header image-animate transition-delay-2 bg-transparent border-0 p-0">
                            <img src="/assets/website_speed/speed_assets/uploads/cars/car4.jpg" alt="" class="w-100 h-100">
                        </div>
                        <div class="card-body load-animate-left transition-delay-3 px-0 py-2">
                            <h4>
                                <a href="../pages/auctions" class="text-primary">1923 Ford MODEL T</a>
                            </h4>
                            <p class="date-pub"></p>
                            <p class="price mb-0">$100000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Cars Section -->
    {% block script %} 
    <script>
            
        const url = new URL(
            "https://api.copart-iaai-api.com/api/v1/get-cars"
        );
    
        const params = {
            "vin_number": "5UXKR0C52G0P21189",
            "make": "BMW",
            "model": "X3",
            "year_from": "2018",
            "year_to": "2018",
            "auction_date_from": "2023-01-01",
            "auction_date_to": "2023-02-01",
            "auction_name": "COPART",
            "only_sold": "0",
            "sale_price_from": "0",
            "sale_price_to": "100000",
            "page": "1",
            "per_page": "20",
            "api_token": "7471ef49828d1441aeb4516ec5bf76cfb62fa52e4125d04bc71b41dcfce0f829",
        };
        Object.keys(params)
            .forEach(key => url.searchParams.append(key, params[key]));
    
        const headers = {
            "Content-Type": "application/x-www-form-urlencoded",
            "Accept": "application/json",
            "Api-Version": "V1",
        };
    
        let body = "";
    
        fetch(url, {
            method: "POST",
            headers,
            body: body,
        }).then(response => response.json())
        .then(data => console.log(data.result));
        var countDownDate = new Date("Jun 17, 2023 23:59:55").getTime();
        
        var myfunc = setInterval(function() {
        // code goes here
        var now = new Date().getTime();
        var timeleft = countDownDate - now;
                
            var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
            var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
    
            document.querySelectorAll(".date-pub").forEach((item) => {
                item.innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s";
            })
        }, 1000)
        
    
        // document.getElementById("days").innerHTML = days + "d "
        // document.getElementById("hours").innerHTML = hours + "h " 
        // document.getElementById("mins").innerHTML = minutes + "m " 
        // document.getElementById("secs").innerHTML = seconds + "s"
        
    </script>
    {% endblock %}