<!-- Start Hero Section -->
<section class="hero d-flex align-items-center justify-content-center section-animation inner-pages">
    <div class="container-fluid pt-5 position-relative z-1">
        <div class="row px-5">
            <div class="col-md-12">
                <div class="title-header mb-4">
                    <h2 class="text-white load-animate-left transition-delay-2">
                        {{ i18n['hero_title'][current_lang] }}
                    </h2>
                    <p class="text-light load-animate-left transition-delay-3">
                        {{ i18n['hero_subtitle'][current_lang] }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->
