<!-- Start Warranties Section -->
<section class="warranties py-5 bg-color-light section-animation">
    <div class="title-header text-center">
        <h2 class="mb-0 load-animate-left">{{ i18n['warranties_title'][current_lang] }}</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div id="owl-slider-warranties" class="owl-carousel owl-theme listing">
                    <div class="item p-2 item3 load-animate ">
                        <div class="card border-0 bg-transparent text-center">
                            <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/warr1.svg" alt="" />
                            </div>
                            <div class="card-body py-2 px-0 title-link-hover">
                                <h3 class="mb-2 text-dark text-center lh-base">
                                    {{ i18n['warranty_deposit_refund'][current_lang] }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="item p-2 item3 load-animate ">
                        <div class="card border-0 bg-transparent text-center">
                            <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/warr2.svg" alt="" />
                            </div>
                            <div class="card-body py-2 px-0 title-link-hover">
                                <h3 class="mb-2 text-dark text-center lh-base">
                                    {{ i18n['warranty_check_every_car'][current_lang] }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="item p-2 item3 load-animate ">
                        <div class="card border-0 bg-transparent text-center">
                            <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/warr3.svg" alt="" />
                            </div>
                            <div class="card-body py-2 px-0 title-link-hover">
                                <h3 class="mb-2 text-dark text-center lh-base">
                                    {{ i18n['warranty_additional_verification'][current_lang] }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="item p-2 item3 load-animate ">
                        <div class="card border-0 bg-transparent text-center">
                            <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/warr4.svg" alt="" />
                            </div>
                            <div class="card-body py-2 px-0 title-link-hover">
                                <h3 class="mb-2 text-dark text-center lh-base">
                                    {{ i18n['warranty_official_dealer'][current_lang] }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="item p-2 item3 load-animate ">
                        <div class="card border-0 bg-transparent text-center">
                            <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/warr5.svg" alt="" />
                            </div>
                            <div class="card-body py-2 px-0 title-link-hover">
                                <h3 class="mb-2 text-dark text-center lh-base">
                                    {{ i18n['warranty_odometer'][current_lang] }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="item p-2 item3 load-animate ">
                        <div class="card border-0 bg-transparent text-center">
                            <div class="card-header border-0 bg-transparent position-relative d-flex align-items-center justify-content-center top-animate-hover">
                                <img class="owl-lazy" data-src="/assets/website_speed/speed_assets/uploads/images/warr5.svg" alt="" />
                            </div>
                            <div class="card-body py-2 px-0 title-link-hover">
                                <h3 class="mb-2 text-dark text-center lh-base">
                                    {{ i18n['warranty_support_24_7'][current_lang] }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-0 mt-5">
            <div class="col-lg-12">
                <div class="more-btn text-center">
                    <a href="#home" class="btn btn-theme2"> 
                        {{ i18n['view_more'][current_lang] }}
                        <i class="fa fa-arrow-right mx-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Warranties Section -->