
{% extends '/templates/base_speed.html' %}

{% block title %} Contact Us{% endblock %}

{% block content %}

    <!-- End Navbar -->

    <!-- Start Breadcrump Section -->
    <section class="breadcrump2 d-flex align-items-end justify-content-center mb-3 section-animation inner-pages">
        <div class="container position-relative z-1">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-white load-animate-left mb-5">Contact Us</h1>
                    <ul class="ul d-flex flex-wrap px-3 py-3 breadcrump-list rounded-3 align-items-center justify-content-center">
                        <li>
                            <a href="../index" class="text-white mx-1">Home </a>
                        </li>
                        <li>
                            <a class="text-white mx-1"><span class="mx-2">/</span> Contact Us </a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </section>
    <!-- End Breadcrump Section -->

    <!-- Start Contact Page -->
    <section class="contact-us py-5 bg-white">
        <div class="container">
            <div class="title-header">
                <h2 class="text-center fs-1">Company information</h2>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-info px-4 border">
                        <div class="card border-0 p-3 rounded-3">
                            <h3 class="text-dark pb-2 border-bottom">Shipping department</h3>
                            <div class="card-body">
                                <p><a href="tel:+967771818944" class="text-dark"><i class="fa-solid fa-phone fs-3 mx-2"></i> +967771818944</a></p>
                                <p><a href="mailto:shipping@speedym.com" class="text-dark"><i class="fa-solid fa-envelope fs-3 mx-2"></i>shipping@speedym.com</a></p>
                            </div>
                        </div>
                        <div class="card border-0  p-3 rounded-3">
                            <h3 class="text-dark pb-2 border-bottom">Auction and foreign purchases department</h3>
                            <div class="card-body">
                                <p><a href="tel:+967771818933" class="text-dark"><i class="fa-solid fa-phone fs-3 mx-2"></i> +967771818933</a></p>
                                <p><a href="mailto:purches@speedym.com" class="text-dark"><i class="fa-solid fa-envelope fs-3 mx-2"></i>purches@speedym.com</a></p>
                            </div>
                        </div>
                        <div class="card border-0 p-3 rounded-3">
                            <h3 class="text-dark pb-2 border-bottom">Customs clearance department </h3>
                            <div class="card-body">
                                <p><a href="tel:+96777181966" class="text-dark"><i class="fa-solid fa-phone fs-3 mx-2"></i> +96777181966</a></p>
                                <p><a href="mailto:customs@speedym.com" class="text-dark"><i class="fa-solid fa-envelope fs-3 mx-2"></i>customs@speedym.com</a></p>
                            </div>
                        </div>
                        <div class="card border-0 p-3 rounded-3">
                            <h3 class="text-dark pb-2 border-bottom">Accuonts department</h3>
                            <div class="card-body">
                                <p><a href="tel:+96777181977" class="text-dark"><i class="fa-solid fa-phone fs-3 mx-2"></i> +96777181977</a></p>
                                <p><a href="mailto:accuonts@speedym.com" class="text-dark"><i class="fa-solid fa-envelope fs-3 mx-2"></i>accuonts@speedym.com</a></p>
                            </div>
                        </div>
                        <div class="card border-0 p-3 rounded-3">
                            <h3 class="text-dark pb-2 border-bottom">Customers service</h3>
                            <div class="card-body">
                                <p><a href="tel:+96777181988" class="text-dark"><i class="fa-solid fa-phone fs-3 mx-2"></i> +96777181988</a></p>
                                <p><a href="mailto:cs@speedym.com" class="text-dark"><i class="fa-solid fa-envelope fs-3 mx-2"></i>cs@speedym.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="maps h-100">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3848.3408513521636!2d44.20299612645831!3d15.30370068527025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1603c57983384d91%3A0x212dc29520c9031d!2z2LPYqNmK2K8g2YTYqtis2KfYsdipINin2YTYs9mK2KfYsdin2Ko!5e0!3m2!1sar!2s!4v1687723288429!5m2!1sar!2s" class="h-100 w-100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Page -->

    <!-- Start footer Section -->
    
    {% endblock %}

